# data
data/

# mypy cache
.mypy_cache/

# Pycharm cache
.idea/

# python bins
__pycache__/

# isort configs
.isort.cfg

# saved detection models
*.h5

# saved classification models
classification/checkpoints
